<div class="nav-bar-fixed">
  <div id="navBarElement" class="pb-2 position-fixed w-100">
<app-navbar></app-navbar>
</div>
</div>


<router-outlet id="body"></router-outlet>
<section class="bFooter py-5">
  <div class="container py-5">
<div class="row g-4">
  <div class="col-md-4 text-white text-center">
<h4>LOCATION</h4>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>

  </div>
  <div class="col-md-4 text-white text-center">
    <h4>AROUND THE WEB</h4>
   <div class=" social d-flex justify-content-center"><a href="" class="d-flex justify-content-center align-items-center me-3 text-decoration-none"><i class="fa-brands fa-facebook"></i></a>
  <a href="" class="d-flex justify-content-center align-items-center me-3 text-decoration-none"><i class="fa-brands fa-twitter"></i></a>
  <a href="" class="d-flex justify-content-center align-items-center me-3 text-decoration-none"><i class="fa-brands fa-linkedin-in"></i></a>
  <a href="" class="d-flex justify-content-center align-items-center me-3 text-decoration-none"><i class="fa-solid fa-globe"></i></a>
  </div>

  </div>

  <div class="col-md-4 text-white text-center">
    <h4>ABOUT FREELANCER</h4>
    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>


  </div>




</div>
  </div>
</section>
<footer>
  <div class="container">
<p class="text-white text-center py-4">Copyright © Your Website 2021</p>
  </div>
</footer>


